.projets{
  padding-top: 50px;
  height: 100vh;
  width: 100vw;
}

.projet-content{
  margin: 0 auto;
  text-align: center;

}

.projet-content h2 {
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}

.projet-grid{
  padding-top: 30px;
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.projet{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: all ease 0.5s;
}

.projet:hover{
  transform: scale(1.05);
}

#poli{
  background-image: url("../../images/poli.png");
}

#heart{
  background-image: url("../../images/heartshare.png");
}

#immo{
  background-image: url("../../images/immo.png");
}

#lent{
  background-image: url("../../images/lentzep.png");
}

.projet-in {
  padding: 10px;
  color: #63FDD8;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all ease 0.5s;
}

.projet-in:hover {
  opacity: 100;
}

.projet-in h3 {
  font-size: 35px;
}

.projet-in p {
  margin-top: 30px;
}

.btn-projet {
  display: block;
  border: solid 2px #63FDD8 ;
  margin: 30px auto 0;
  padding: 10px;
  width: 200px;
  opacity: 70%;
  cursor: pointer;
}

.btn-projet:hover {
 opacity: 100%;
}
